@import "tailwindcss";

@theme {
	/* Your theme styles go here */
	--animate-float: float 3s ease-in-out infinite;

	@keyframes float {
		0%,
		100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-10px);
		}
	}
}

html,
body {
	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}

.blink {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

td img {
	margin-left: auto;
	margin-right: auto;
}
