@import "tailwindcss";

@theme {
	/* Your theme styles go here */
	--animate-float: float 3s ease-in-out infinite;

	@keyframes float {
		0%,
		100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-10px);
		}
	}
}

html,
body {
	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}

.blink {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

td img {
	margin-left: auto;
	margin-right: auto;
}

.my-spin {
	-webkit-animation: my-spin 6s linear infinite;
	-moz-animation: my-spin 6s linear infinite;
	-o-animation: my-spin 6s linear infinite;
	animation: my-spin 6s linear infinite;

	display: inline-block;
}

@-webkit-keyframes my-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}

@keyframes my-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
